/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section */
#hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

/* About Section */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.about-image img {
    max-width: 100%;
}

/* More styles for other sections */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
#ad{
     width: 100px;
     height: 100px;
}
#bk{
    color: rgb(3, 101, 68);
background-color:rgb(46, 159, 159);
}